<p>
  code:
</p>
<p>
  <span id="code"><%=@code%></span>
</p>
<p>
  state:
</p>
<p>
  <%=@state%>
</p>

<script type="text/javascript">
  $(function(){
      var code=$('#code').text();
      console.log(code);
  });
</script>